menu "ZeoDevBoard Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            Password of the WiFi network.

    config UDP_BROADCAST_PORT
        int "UDP Broadcast Port"
        default 12345
        help
            UDP port for broadcasting sensor data.

endmenu
